:root {
    --main-bg: #000;
    --alt-bg: #200;
    --input-bg: #000;
    --plain-text: #b00;
    --alt-text: #d55;
    --link-normal: #414c72;
    --link-visited: #7b418f;
    --link-header: #414c72;
    --link-index-visited: #5c3868; /* slightly darker than normal links */
    --code: #844;
}
.theme-selector-icon {
    background-image: url('/assets/bulb-icon-red.svg');
}
