html {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg);
    color: var(--plain-text);
    font-family: "IBM Plex Serif", serif;
    font-size: 18px;
}

html.light {
    --main-bg: #eee;
    --alt-bg: #ccc;
    --input-bg: #fff;
    --plain-text: #444;
    --alt-text: #000;
    --link-normal: #0064c1;
    --link-visited: #8b7195;
    --link-hover: #009ac9;
    --link-header: #0064c1;
    --link-header-visited: #0064c1;
    --code: #444;
    --separator-color: rgba(0, 0, 0, 0.2);
    --caption-bg: rgba(0, 0, 0, 0.05);
    --caption-border: rgba(0, 0, 0, 0.2);
}

html.light .theme-selector-icon {
    background-image: url('/assets/bulb-icon.svg');
}

html.dark {
    --main-bg: #222;
    --alt-bg: #000;
    --input-bg: #000;
    --plain-text: #ccc;
    --alt-text: #aaa;
    --link-normal: #618bb3;
    --link-visited: #8d7097;
    --link-hover: #009ac9;
    --link-header: #0084d1;
    --link-index-visited: #0084d1;
    --code: #444;
    --separator-color: rgba(255, 255, 255, 0.3);
    --caption-bg: rgba(0, 0, 0, 0.4);
    --caption-border: rgba(0, 0, 0, 0.5);
}

html.dark .theme-selector-icon {
    background-image: url('/assets/bulb-icon-dark.svg');
}

html.nightsight {
    --main-bg: #000;
    --alt-bg: #200;
    --input-bg: #000;
    --plain-text: #b00;
    --alt-text: #d55;
    --link-normal: #414c72;
    --link-visited: #3d1e48;
    --link-hover: #26313e;
    --link-header: #414c72;
    --link-index-visited: #5c3868; /* slightly darker than normal links */
    --code: #844;
    --separator-color: rgba(255, 0, 0, 0.6);
    --caption-bg: rgba(80, 0, 0, 0.2);
    --caption-border: rgba(255, 0, 0, 0.2);
}

html.nightsight .theme-selector-icon {
    background-image: url('/assets/bulb-icon-red.svg');
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0.5rem;
}

header,
footer {
    display: grid;
    background-color: var(--alt-bg);
    color: var(--alt-text);
    padding: 0.5em 0.5rem;
    box-shadow:
        -1.5rem 0 0 0 var(--plain-text),
         1.5rem 0 0 0 var(--plain-text);
}

header {
    color: var(--alt-text);
    grid-template-columns: 1fr 35em 1fr;
    grid-template-rows: auto auto;
    border-bottom: 1px solid var(--separator-color);
    margin: 0 -0.5rem 1em;
}

.index header {
    grid-template-rows: auto auto;
}

.tag-index header {
    grid-template-rows: auto auto auto;
}

footer {
    grid-template-columns: 1fr 1fr;
    margin: 0 -0.5rem;
}

footer p {
    margin-top: 1em;
    grid-row: 1/2;
}

footer .info-link {
    grid-column: 1/2;
}
footer .feed-link {
    grid-column: 2/3;
    justify-self: end;
}

footer .feed-link img {
    vertical-align: middle;
}

.link-box {
    grid-row: 1/2;
}

.home.link-box {
    grid-column: 1/2;
}

.theme.link-box {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: right;
    justify-self: end;
    align-self: center;
}

.theme-selector-icon {
    display: inline-block;
    width: 17px;
    height: 18px;
    vertical-align: middle;
}

.theme-selector-icon.dim {
    transform: scale(60%);
}

#theme-selector-box input {
    display: none;
}

#theme-selector-box label::after {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid var(--plain-text);
    border-radius: 50%;
    background-color: var(--alt-bg);
    width: 1em;
    height: 1em;
    content: "";
    vertical-align: middle;
    cursor: pointer;
}

#ts-nightsight + label::after {
    border-color: #800;
}

#theme-selector-box input:checked + label::after {
    background-color: var(--alt-text);
    content: "";
}

#home-page-info {
    margin: 1em 0;
}

h1 {
    margin: 0.2em 0 0.5em;
}

header h1 {
    grid-row: 2/3;
    grid-column: 2/3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

h2 {
    margin: 0 0 0.1em;
}

.tag-index header h2 {
    grid-row: 3/4;
    grid-column: 2/4;
}

article > section {
    display: grid;
    grid-template-columns: 1fr 35rem 1fr;
}

article > section > * {
    grid-column: 2/3;
}

h3 {
    margin: 0 0 0.3em;
}

p {
    margin: 0 0 1em;
}

a {
    color: var(--link-normal);
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    color: var(--link-hover);
}

header a,
footer a {
    color: var(--link-header);
}

header a:visited,
footer a:visited {
    color: var(--link-header);
}

#article-body {
    border-bottom: 1px solid var(--separator-color);
    padding-bottom: 1em;
}

ul.article-list,
ul.tags {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

ul.article-list > li {
    margin-bottom: 1em;
}

ul.tags {
    font-size: 80%;
}

ul.tags::before {
    content: "Tags: ";
}

ul.tags li {
    display: inline-block;
    margin-right: 0.3em;
}
ul.tags li::after {
    content: ", ";
}
ul.tags li:last-child::after {
    content: "";
}

pre {
    overflow-x: auto;
    margin: 0 0 1em;
    padding: 0.5em;
    background-color: var(--alt-bg);
    line-height: 1.2;
}

code {
    font-size: 14px;
}

p > code {
    background-color: var(--alt-bg);
    padding: 0 0.3em;
}

p.img {
    grid-column: 1/4;
    margin-bottom: 2em;
    padding-top: 1vh;
}

p.img figure {
    margin: 0;
    text-align: center;
}

p.img img {
    padding: 0;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
    cursor: pointer;
    border-radius: 2px;
}

#article-body img {
    display: block;
    max-width: 100%;
    max-height: 95vh;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.nightsight #article-body img {
    filter: brightness(50%);
}

.nightsight #article-body img.focus {
    filter: brightness(100%);
}


#article-body figcaption,
#article-body img + em {
    text-align: center;
    font-size: 0.9em;
    display: inline-block;
    padding: 0.3em 1em;
    line-height: 1.3;
    font-style: italic;
    box-shadow: 0 1px 3px 2px var(--caption-bg);
    border-width: 0 1px 1px 1px;
    border-color: var(--caption-border);
    border-style: solid;
    margin-bottom: 0.5em;
    background-color: var(--caption-bg);
    position: relative;
    z-index: 0;
}

.nightsight #article-body figcaption::after {
    content: "(Click or tap image to show it at full brightness.)";
    font-style: normal;
}

#exif-popover {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 0.5em;
    text-shadow: 0 1px 0 #000;
    z-index: 2;
}

#exif-popover.active {
    display: block;
}

.article p,
.article ul {
    overflow-x: auto;
    overflow-y: hidden;
}

nav {
    display: grid;
    grid-template-columns: 1fr 8em 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 1em;
}

.article nav {
    grid-template-columns: 1fr 1em 1fr;
    grid-template-rows: auto auto auto;
}

nav .more-articles-text {
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/4;
    margin: 0;
}

nav .nav-prev {
    justify-self: end;
    text-align: right;
}
nav .nav-sep {
    justify-self: center;
    text-align: center;
}
nav .nav-next {
    justify-self: start;
}
nav .footer-home-link-box {
    grid-row: 3/4;
    grid-column: 1/4;
    margin: 0;
    justify-self: center;
    align-self: end;
}

#comments {
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid var(--separator-color);
}

#comments ul {
    padding: 0;
}

.comment-age {
    font-size: 80%;
}
.comment-age::before {
    content: "→ ";
}

#comments label,
#comments input,
#comments textarea {
    display: block;
}

#comments input,
#comments textarea {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    box-sizing: border-box;
    margin: 0 0 0.5em;
    padding: 0.2em 0.5em;
    border: 1px solid var(--plain-text);
    background-color: var(--input-bg);
    color: var(--plain-text);
    border-radius: 2px;
}

#comments input {
    width: 50%;
}

#comments textarea {
    width: 100%;
    height: 10em;
}

@media (max-width: 47rem) {
    header {
        grid-template-columns: 1fr 0 2fr;
    }
    header h1 {
        padding-left: 0.5rem;
        grid-column: 1/4;
    }
    .tag-index header h2 {
        grid-column: 1/4;
        padding-left: 0.5rem;
    }
    article > section {
        grid-template-columns: 0.5em auto 0.5em;
    }
}
