  <footer>
    <p class="info-link">Blog powered by <a href="https://github.com/caerphoto/velum">Velum</a>.</p>
    <div id="debug"></div>
    <p class="feed-link"><a href="/rss"><img src="{{asset_path "feed-icon.svg"}}" width="16" height="16"> RSS feed link</a></p>
  </footer>

  <script src="{{asset_path "js/manifest.js"}}"></script>

  </body>
</html>
