  <footer>
    <p>Blog powered by <a href="https://github.com/caerphoto/velum">Velum</a>.</p>
    <div id="debug"></div>
  </footer>

  <script src="{{asset_path "js/manifest.js"}}"></script>

  </body>
</html>
