<div id="theme-selector-box" class="theme link-box">
  <span class="theme-selector-icon dim"></span>
  <label for="ts-nightsight">Night</label>
  <input type="radio" name="theme" id="ts-nightsight" value="nightsight" title="Night sight theme (very dark)">
  <span class="joiner">┄</span>
  <label for="ts-dark">Dark</label>
  <input type="radio" name="theme" id="ts-dark" value="dark" title="Dark theme">
  <span class="joiner">┄┄</span>
  <label for="ts-ligth">Light</label>
  <input type="radio" name="theme" id="ts-light" value="light" title="Light theme">
  <span class="theme-selector-icon bright"></span>
</div>
