{{> _header}}

<header>
  <div class="home link-box">
    <a href="/" class="index-link">&larr; Home</a>
  </div>
  <div class="logout link-box">
    <form action="/logout" method="POST">
      <button type="submit">Log out</button>
    </form>
  </div>
  <h1>Blog Admin</h1>
</header>

<div id="sidebar" hx-target="#section-content" role="tablist" _="on htmx:afterOnLoad set @aria-selected of <[aria-selected=true]/> to false tell the target set @aria-selected to true">
  <button role="tab" aria-controls="tab-content" aria-selected="true" hx-get="/admin/sections/articles">Articles</button>
  <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/admin/sections/images">Images</button>
  <button role="tab" aria-controls="tab-content" aria-selected="false" hx-get="/admin/sections/comments">Comments</button>
</div>

<div id="section-content" role="tabpanel" hx-trigger="load" hx-get="/admin/sections/articles"></div>


<script src="{{asset_path "js/htmx.min.js"}}"></script>
<script src="{{asset_path "js/_hyperscript.min.js"}}"></script>

{{> _footer}}
