{{> _header}}

<header>
  <div class="home link-box">
    <a href="/" class="index-link">&larr; Home</a>
  </div>
  <div class="logout link-box">
    <form action="/logout" method="POST">
      <button type="submit">Log out</button>
    </form>
  </div>
  <h1>Blog Admin</h1>
</header>

<section id="admin-list-sections" class="admin-main-section">
  <ul id="admin-list-sections-tabs" class="tabs">
    <li class="tab active"><a href="#admin-article-manager">Articles</a></li>
    <li class="tab"><a href="#admin-image-manager">Images</a></li>
  </ul>

  <section id="admin-article-manager" data-tab-set="admin-list-section" class="tab-content">
    <form id="admin-rebuild-index" action="/rebuild_index" method="POST" class="main-section-form">
      <button type="submit">Rebuild index</button>
    </form>

    <form id="admin-new-article" action="#new">
      <button type="submit">Create new article</button>
    </form>

    <ol class="admin-article-list" reversed>
      {{#each articles}}
        {{> _admin_article_list_item }}
      {{/each}}
    </ol>
  </section>

  <section id="admin-image-manager" data-tab-set="admin-list-section" class="tab-content">
    <p>Click an image to insert it into the article at the cursor position.</p>
    {{> _admin_image_list}}
  </section>

</section>

<section id="admin-article-editor" class="admin-main-section">
  <h2>Edit <span class="if-new">new</span> article:</h2>

  <p id="save-success">Saved!</p>
  <form action="/article" data-method="PUT" id="save-article" class="main-section-form">
    <button type="submit">Save</button>
  </form>

  <textarea id="article-editor-input" disabled></textarea>
</section>

<!--
<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
-->

<script src="{{asset_path "js/admin.js"}}"></script>
  </body>
</html>
