{{>header}}

<header>
  <div class="home-link-box">
    <a href="/" class="index-link">home</a>
  </div>
  <h1>{{Admin Login}}</h1>
</header>

<article>
  <section id="login-form" class="content">
  </section>
</article>

{{>footer}}
