{{> _header}}

<header>
  <div class="home link-box">
    <a href="/" class="index-link">&larr; Home</a>
  </div>
  <div class="logout link-box">
    <form action="/logout" method="POST">
      <button type="submit">Log out</button>
    </form>
  </div>
  <h1>Blog Admin</h1>
</header>

<section id="admin-content" x-data="{ adminContent: 'nav' }">
  <nav id="admin-nav" x-show="adminContent === 'nav'" x-data="{ tab: 'images' }">
    <div id="sidebar" role="tablist">
      <button x-on:click="tab = 'articles'" :class="tab === 'articles' ? 'active' : ''" role="tab" aria-controls="tab-content" aria-selected="true" >Articles</button>
      <button x-on:click="tab = 'images'"   :class="tab === 'images'   ? 'active' : ''" role="tab" aria-controls="tab-content" aria-selected="false">Images</button>
      <button x-on:click="tab = 'comments'" :class="tab === 'comments' ? 'active' : ''" role="tab" aria-controls="tab-content" aria-selected="false">Comments</button>
    </div>

    <div x-show="tab === 'articles'" class="admin-tab-content" role="tabpanel">{{> admin/_articles }}</div>
    <div x-show="tab === 'images'"   class="admin-tab-content" role="tabpanel" hx-get="/admin/image_editor_images" hx-trigger="load"></div>
    <div x-show="tab === 'comments'" class="admin-tab-content" role="tabpanel">{{> admin/_comments }}</div>
  </nav>

  <div id="article-editor" x-show="adminContent === 'article-editor'">
    <nav id="editor-nav">
      <button id="editor-cancel" type="button" @click="adminContent = 'nav'">&larr; Cancel</button>
    </nav>
    <div id="editor-thumbnails" hx-get="/admin/article_all_images" hx-trigger="load"><span class="htmx-indicator"></span></div>
    <div id="editor-form"><!-- filled by HTMX --></div>
  </div>
</section>

<script src="{{asset_path "js/htmx.min.js"}}" defer></script>
<script src="{{asset_path "js/alpine.min.js"}}" defer></script>
<script src="{{asset_path "js/admin_new.js"}}" defer></script>


{{! we don't need the standard footer, so we're all done with the page from here}}
</body>
</html>
