<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <header><a href="/">&larr; article index</a></header>
    <section id="content">
      <h1>{{title}}</h1>
      <h2>{{date_from_timestamp timestamp}}
      {{{content}}}
    </section>
  </body>
</html>
