<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <header><a href="/">&larr; article index</a></header>
    <h1>{{title}}</h1>
    <section id="content">
      {{{content}}}
    </section>
  </body>
</html>
