{{> _header }}

<header>
  <div class="home link-box">
    <a href="/" class="index-link">&larr; Home</a>
  </div>
  <h1>Blog Admin Login</h1>
</header>

<section id="login-form" class="content">
  {{#if error_msg}}
    <p class="error-message">{{error_msg}}</p>
  {{/if}}
  <form action="login" method="POST">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" autofocus>
    <button type="submit">Log in</button>
  </form>
</section>

{{> _footer}}
